@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body{
    text-align: center;
    margin: 0px;
    padding: 200px;
    background-color: #fefae0;
  }
  h1{
    font-family: 'Indie Flower', cursive;
    color: black;
  }
  .posicoes{
    width: 100px;
    height: 100px;
    background-color:#606C38 ;
    display: inline-block;
  }
  .o{
    position: relative;
  }
  .o::after{
    position: absolute;
    content: "\26AB";
    font-size: 50px;
    line-height: 100px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  .x{
    position: relative;
  }
  .x::after{
    position: absolute;
    font-size: 50px;
    line-height: 100px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  content: "\26AA";
  }
  
